.login-form {
  margin: 5px;

  width: 419px;
  height: 683px;

  background: #212121;
  border: 2px solid #ffffff;
  border-radius: 10px;

  color: #ffffff;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 50px 25px;

  img[alt="x"] {
    width: 46.41px;
    height: 45px;
  }

  .signin-google-btn {
    background-color: unset;
    border: 2px solid #ffffff;
    border-radius: 10px;

    width: 100%;
    padding: 15px 20px;
    margin-top: 60px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    cursor: pointer;

    img[alt="google"] {
      width: 25px;
      height: 25px;
    }

    span {
      width: 100%;
      text-align: center;
      color: #ffffff;
    }
  }

  .hr-bar {
    width: 100%;
    padding: 1px;
    background-color: #ffffff !important;
    margin-top: 35px;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
      margin-top: 50px;
      margin-bottom: 15px;
    }

    input {
      background-color: unset;
      border: 2px solid #ffffff;
      padding: 15px 20px;
      border-radius: 10px;

      color: #ffffff;
    }
  }

  [data-submit] {
    width: 100%;
    margin: 25px 0;

    background-color: #ffffff;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    border-radius: 10px;

    color: #212121;

    cursor: pointer;
  }

  p {
    width: 100%;
    color: #bebebe;

    text-align: left;

    span {
      color: #ffffff;
      cursor: pointer;
    }
  }
}
